.wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin: auto;
  padding: 60px
}

.title {
  font-size: var(--h1FontSize);
  font-family: var(--fontHeaders);
  font-weight: var(--fontWeightBold);
  line-height: var(--headerLineHeight);
}

.content {
  font-size: var(--mediumFontSize);
  font-family: var(--fontBody);
  font-weight: var(--fontWeightNormal);
  line-height: var(--bodyLineHeight);
  max-width: 1164px;
  margin: auto;
}

@media (max-width: 700px) {
  .wrapper {
    row-gap: 5px;
    padding: 20px;
    width: 100%;
  }

  .title {
    font-size: 45px;
  }

  .content {
    font-size: 16px;
    line-height: 25px;
  }
}