.wrapper {
  display: flex;
  max-width: 900px;
  flex-direction: column;
  row-gap: 25px;
  margin: auto;
  padding: 60px;
  padding-bottom: 0;
}

@media (max-width: 700px) {
  .wrapper {
    row-gap: 5px;
    padding: 20px;
  }
}