.wrapper {
  position: relative;
  display: flex;
  height: 100px;
  background-color: var(--lightGray);
  align-items: center;
  width:100%
}

.logo {
  margin: auto;
}

.socials {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 8px;
  right: 20px;
}